Django==1.6.5
drugs==0.2.0  # helpers. Before production, copy and paste code.

# tests
mixer==4.5.4
django_extensions==1.3.7
django-debug-toolbar==1.2.1
django-nose==1.2
coverage==3.7.1
ipython==2.1.0
ipdb==0.8
